:root{
    --bg:#050607;
    --panel:#0b0d0f;
    --cyan:#00D8FF;
    --cyan2:#29F0FF;
    --text:#ffffff;
    --muted:#7f8d96;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html, body {

    width:320px;
    height:320px;

    overflow:hidden;

    background:#050607;

    font-family:'Rajdhani',sans-serif;

}


#dashboard {

    width:320px;
    height:320px;

    position:relative;

}


/* Main ring */

.gauge {

    position:absolute;

    left:25px;

    top:20px;

    width:270px;

    height:270px;

}


.ring {

    width:270px;
    height:270px;

}


/* Ring thickness */

.track,
.progress {

    stroke-width:12;

}


/* Center text */

.label {

    font-size:11px;

    letter-spacing:3px;

}


.temp {

    font-size:65px;

}


.usage {

    font-size:13px;

    letter-spacing:3px;

}


/* Bottom GPU */

.bottom {

    position:absolute;

    bottom:15px;

    left:25px;

    right:25px;

    height:50px;

}


.title {

    font-size:9px;

    letter-spacing:2px;

}


.value {

    font-size:28px;

}


.divider {

    height:35px;

}
