:root{
    --bg:#050607;
    --panel:#0b0d0f;
    --cyan:#00D8FF;
    --cyan2:#29F0FF;
    --text:#ffffff;
    --muted:#7f8d96;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{

    width:320px;
    height:320px;

    overflow:hidden;

    background:#050607;

    font-family:'Orbitron',sans-serif;

}


#dashboard{

    width:320px;
    height:320px;

}


/* Main circle */

.gauge{

    left:35px;
    top:30px;

    width:250px;
    height:250px;

}


.ring{

    width:250px;
    height:250px;

}


.track,
.progress{

    stroke-width:8;

}


/* Center */

.label{

    font-size:9px;

    letter-spacing:4px;

}


.temp{

    font-size:55px;

    font-weight:500;

}


.usage{

    font-size:10px;

}


/* Bottom GPU */

.bottom{

    bottom:18px;

    left:35px;

    right:35px;

}


.title{

    font-size:8px;

    letter-spacing:3px;

}


.value{

    font-size:25px;

}


.divider{

    height:30px;

}
