*{
    box-sizing:border-box;
}


body{

    margin:0;

    width:320px;
    height:320px;

    overflow:hidden;

    background:#000;

    font-family:
    "Segoe UI",
    Arial,
    sans-serif;

    color:white;

}



.screen{

    width:320px;
    height:320px;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:center;

}



.title{

    font-size:14px;

    letter-spacing:5px;

    color:#777;

    margin-bottom:18px;

}



.gauges{

    display:flex;

    gap:15px;

}



.gauge{

    width:125px;

    height:125px;

    border-radius:50%;


    display:flex;

    align-items:center;

    justify-content:center;


    background:

    radial-gradient(
    circle,
    #090909 55%,
    transparent 57%
    ),

    conic-gradient(
    #00eaff,
    #00eaff 70%,
    #222 70%
    );


    box-shadow:

    0 0 18px #00eaff66,

    inset 0 0 20px #00eaff33;


    animation:
    glow 2s infinite alternate;

}




.gpu{


background:

radial-gradient(
circle,
#090909 55%,
transparent 57%
),

conic-gradient(
#0077ff,
#0077ff 70%,
#222 70%
);


box-shadow:

0 0 18px #0077ff66,

inset 0 0 20px #0077ff33;


}



.inside{

text-align:center;

}



.label{

font-size:18px;

letter-spacing:2px;

color:#999;

}



.temp{

font-size:48px;

font-weight:700;

}



.temp small{

font-size:18px;

color:#00eaff;

}



.footer{

margin-top:18px;

font-size:11px;

letter-spacing:4px;

color:#444;

}




@keyframes glow{


from{

filter:
brightness(1);

}


to{

filter:
brightness(1.35);

}


}
